{% extends 'therapy/fragments/base.html' %}
{% block main-content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Perfil de '{{ profile.user.username }}'</span>
                <p><b>Terapias:</b> {{ profile.therapycount }}</p>
                <!-- Display psychological stats -->
                <p><b>Estado anímico:</b> {{ profile.currentmood }}</p>
                <p><b>Bienestar:</b> {{ profile.wellbeing }}</p>
                <p><b>Nivel de Estres:</b> {{ profile.stresslevel }}</p>
                <p><b>Nivel de Ansiedad:</b> {{ profile.anxietylevel }}</p>
                <!-- Add more stats as needed -->
            </div>
            <div class="card-action">
                {% if request.user.id == profile.user_id %}
                    <a href="{% url 'therapy:profile-edit' profile.id %}">Editar perfil</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}